/* Esse arquivo tem que ser linkado no index antes da folha de estilo*/
:root {
  /*pesquisar o atalho ctrl + f2*/
  --texto: #000;
  --fundo-preto: #121212;
  --cinza: #b3b3b3;
  --cinza-suave: #242424;
  --branco: #fff;

  --font-dm-sans: 'DM Sans', sans-serif;

}